extends ../layout/base

block variables
    - var title = 'Download my CV | Matt Rayner'
    - var socialTitle = 'Download my CV - Matt Rayner - Full stack polyglot tech lead in London'

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/index.min.css')
    link(rel='stylesheet', href=baseUrl+'css/download.min.css')

block content
    section#home-slide.primary-background
        .background
            ul#scene
                li.layer.layer-1(data-depth="0.5")
                    .image
                li.layer.layer-2(data-depth="0.75")
                    .image
                li.layer.layer-3(data-depth="1.0")
                    .image
            .overlay
        .content
            a#cv-cover(href=baseUrl + 'download/matthew-rayner-tech-lead-cv.pdf', target='_blank', download=true)
                img(src=baseUrl+'assets/images/download/matthew-rayner-tech-lead-cv-cover.jpg',srcset=baseUrl+'assets/images/download/matthew-rayner-tech-lead-cv-cover.jpg 1x, '+baseUrl+'assets/images/download/matthew-rayner-tech-lead-cv-cover@2x.jpg 2x, '+baseUrl+'assets/images/download/matthew-rayner-tech-lead-cv-cover@3x.jpg 3x')
            h1 Download my CV
            p Your download should begin shortly, if you can't wait just #[a#cv-download(href=baseUrl + 'download/matthew-rayner-tech-lead-cv.pdf', target='_blank', download=true) click here to download now].

block append scripts
    script(src=baseUrl+'js/download.min.js', defer=true)