mixin roleMedia(role, includeDescription, includeSkills)
    .media-object
        .media-object-section.show-for-small-only
            a(href=role.company.url, target="_blank", rel='noopener')
                img.company-avatar.extra-small.rounded-image(src=baseUrl + 'assets/images/employment/' + role.company.twitter + '.jpg', alt=role.company.name + ' avatar')
        .media-object-section.hide-for-small-only
            a(href=role.company.url, target="_blank", rel='noopener')
                img.company-avatar.rounded-image(src=baseUrl + 'assets/images/employment/' + role.company.twitter + '.jpg', alt=role.company.name + ' avatar')
                if role.contract
                    img.company-avatar.contract-bubble.extra-small.rounded-image.overlay(src=baseUrl + 'assets/images/employment/RaynerDigital.jpg', alt='This role was a contract role under Rayner Digital.')
        .media-object-section
            h4= role.title
            h5
                a(href=role.company.url, target="_blank", rel='noopener')= role.company.name
                if role.contract
                    span  (via #[a(href="https://rayner.digital", target="_blank", rel="noopener") Rayner Digital])

            - momentDateFormat = 'Do MMM YYYY'
            - momentDateTimeFormat = 'YYYY-MM-DD'
            - momentRegex = /(\d)(st|nd|rd|th)/g
            - momentRegexReplacer = '$1<sup>$2</sup>'

            - startDate = moment(role.startDate).format(momentDateFormat).replace(momentRegex, momentRegexReplacer)
            - startDateTime = moment(role.startDate).format(momentDateTimeFormat)
            if role.endDate
                - endDate = moment(role.endDate).format(momentDateFormat).replace(momentRegex, momentRegexReplacer)
                - endDateTime = moment(role.endDate).format(momentDateTimeFormat)

                // Adjust end date by +2 days to account for CTM start/end of 2 days difference
                - adjustedEnd = (role.shiftEnd && role.shiftEnd > 0) ? moment(role.endDate).add(role.shiftEnd, 'days') : moment(role.endDate)
                - diffInYears = moment(adjustedEnd).diff(moment(role.startDate), 'years')
                - diffInMonths = Math.ceil(moment(role.endDate).diff(moment(role.startDate), 'months', true)) % 12

                - months = 'months'
                - month = 'month'
                - years = 'years'
                - year = 'year'

                //    Creates '1 years and ' if there is more than one years service for a given role
                - yearString = diffInYears > 0 ? diffInYears+' '+((diffInYears > 1) ? years : year) : ''
                // If we have more than 1 year, and more than 0 months i.e. 1 year and 1 month, add an and. If the diff in years is 0, or the start and end month are the same, dont add the 'and'
                // i.e. 1 year || 9 months but not 1 year 0 months or 0 years and 9 months
                - seperatorString = (diffInYears > 0 && diffInMonths !== 0) ? ' and ' : ''
                // If there is a month difference, add the amount along with  \'month\' or \'months\' depending i.e. 1 month vs 3 months\n'+
                - monthString = (diffInMonths > 0) ? diffInMonths + ' ' + ((diffInMonths > 1) ? months : month) :  ''
                p
                    time(datetime=startDateTime) !{startDate}
                    = " to "
                    time(datetime=endDateTime) !{endDate}
                    = " "
                    span (#{yearString}#{seperatorString}#{monthString})
            else
                p
                    time(datetime=startDateTime) !{startDate}
                    = " to present"

            if role.description && includeDescription
                p= role.description

            if role.skills && includeSkills
                h6 Skills
                ul.skills
                    each skill in role.skills
                        li.skill.text-small
                            .title=skill