extends ./layout/base
include ./includes/role
include ./includes/certification
include ./includes/controls

block variables
    - var title = 'About me | Matt Rayner | Full stack polyglot tech lead in london'
    - var socialTitle = 'Matt Rayner - About me'
    - var canonicalUrl = baseUrl+'about'

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/index.css')
    link(rel='stylesheet', href=baseUrl+'css/about.css')

block content
    section#subpage-slide.primary-background
        .background
            ul#scene
                li.layer.layer-1(data-depth="0.5")
                    .image
                li.layer.layer-2(data-depth="0.75")
                    .image
                li.layer.layer-3(data-depth="1.0")
                    .image
            .overlay
        .content
            .text-center
               img.border-fade.rounded-image.about-me-image(src=baseUrl + 'mattrayner.jpg',srcset=baseUrl + 'mattrayner.jpg 1x, ' + baseUrl + 'mattrayner@2x.jpg 2x, ' + baseUrl + 'mattrayner@3x.jpg 3x',alt='Picture of Matt Rayner')
            h1 About me
        .home-controls
            a(href=baseUrl)
                img(src=baseUrl + 'assets/images/logo-full.svg', alt='Return home')
    section#about-me.row-padding
        .row
            .large-8.large-offset-2.columns
                .about-me__content
                    a#mainContent(name='mainContent')
                    p I’m Matt Rayner, a talented and dedicated full stack, polyglot tech lead. I’m looking for a challenging environment to test and improve my skills. I love learning new things and am an early adopter of bleeding edge technologies. Outside of work I’m involved in volunteering and a number of side projects. Everything from training students in multimedia and design skills, through to Give Cat - a bookmarklet that replaces all the images on a website with pictures of cats (what more could you want, right?).
                    p I’m a massive geek at heart, anything that goes ‘bleep bloop’, I’m all over it. In the past, I’ve acted as an IT Consultant for the Citizens Advice Bureau and the Head of IT for a community radio station. I’ve got a passion for products that make people’s lives easier; whether they take the stress out of a task or are accessible to everyone, that’s my sort of thing.
                    p In the past, I’ve been a graphic designer and a front end developer so I have extensive experience with both front end technologies and back end solutions (Wordpress CMS, MySQL, PHP, HAML, Responsive websites using Twitter Bootstrap, Javascript, JQuery, Ruby, CSS, iPhone, Android - all the usual suspects). I’ve also had exposure to web standards, ensuring the code I write is semantic and cross browser tested.
                    p At the age of 17 I wrote my first content management system in two weeks as part of a college project and my love of back end has grown from there. I’m interested in everything from speaking at events, to new job opportunities - get in touch and we’ll see what epic-ness ensues.
                    h4 Get in touch
                +aboutControls(baseUrl)
        .row
            .large-8.large-offset-2.columns
                h2 Certifications
                each certification, index in certifications
                    a(id='certification'+index)
                    +certificationMedia(certification)
        .row
            .large-8.large-offset-2.columns
                h2 Experience
                each role, index in roles
                    a(id='experience'+index)
                    +roleMedia(role, true, true)
                hr
                +aboutControls(baseUrl)

block append scripts
    script(src=baseUrl+'js/index.min.js', defer=true)