extends ./layout/content.pug

block variables
    - var title = 'BD Network | Contact'
    - var keywords = 'bd,network,integrated,agency,contact,us'
    - var description = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.'
    - var socialTitle = 'BD Network - Contact Us'
    - //var socialDescription = 'SOCIAL BD created an out of home experiencial campaign for Cadberys to launch a brand recognition campaign'
    - //var facebookImage = baseUrl+'assets/images/social/house-of-mouth-fb.jpg'
    - //var twitterImage = baseUrl+'assets/images/social/house-of-mouth-tw.jpg'

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/contact.min.css')

block append page-content
  .row.add-margin.header.text-center
    .columns.small-10.small-offset-1.medium-8.medium-offset-2
        h1.color--purple.bold.uppercase Contact
        p.light To see more work, discuss an opportunity or talk about joining us, see below.
  .background--purple
      .row.add-padding.contact-section.text-center.color--white.uppercase
          .columns.small-10.small-offset-1.medium-8.medium-offset-2
              p
                h4
                    a(href='mailto:enquiries@thisisbd.com').color--white.underline.bold enquiries@thisisbd.com
              p
                h4
                    a(href='mailto:newbusiness@thisisbd.com').color--white.underline.bold newbusiness@thisisbd.com
              p Tea Building, <br> 56 Shoreditch High Street <br> London E1 6PQ <br> 020 7749 5500

              p
                a(href='https://www.instagram.com/think_bd/', target='_blank')
                  img.social-icon(src=baseUrl + 'assets/images/social_buttons/instagram_white.svg')
                a(href='https://twitter.com/thisisbd?lang=en-gb', target='_blank')
                  img.social-icon(src=baseUrl + 'assets/images/social_buttons/twitter_white.svg')
                a(href='https://www.linkedin.com/company/643869?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_643869%2Cidx%3A0', target='_blank')
                  img.social-icon(src=baseUrl + 'assets/images/social_buttons/linkedin_white.svg')
block append scripts
  script(src=baseUrl + 'js/contact.min.js')