extends ./layout/base
include ./includes/role
include ./includes/controls

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/index.css')

block content
    section#home-slide.primary-background
        .background
            ul#scene
                li.layer.layer-1(data-depth="0.5")
                    .image
                li.layer.layer-2(data-depth="0.75")
                    .image
                li.layer.layer-3(data-depth="1.0")
                    .image
            .overlay
        .content
            h1.show-for-sr Matt Rayner | Full stack polyglot tech lead in London | I design and develop beautiful things for print and digital
            a(href=baseUrl)
                img(src=baseUrl+'assets/images/logo-full.svg', alt='Matt Rayner Logo')
            p Full-stack polyglot tech lead in London
        | <svg class="arrows"><path class="a1" d="M0 0 L30 32 L60 0"></path><path class="a2" d="M0 20 L30 52 L60 20"></path><path class="a3" d="M0 40 L30 72 L60 40"></path></svg>
    section#about-me.row-padding
        .row
            .large-10.large-offset-1.columns
                img.border-fade.rounded-image.about-me-image(src=baseUrl+'mattrayner.jpg',srcset=baseUrl+'mattrayner.jpg 1x, '+baseUrl+'mattrayner@2x.jpg 2x, '+baseUrl+'mattrayner@3x.jpg 3x',alt='Picture of Matt Rayner')
                .about-me__content
                    a#mainContent(name='mainContent')
                    h2 About Me
                    p I’m Matt Rayner, a talented and dedicated full stack, polyglot tech lead. I’m looking for a challenging environment to test and improve my skills. I love learning new things and am an early adopter of bleeding edge technologies. Outside of work I’m involved in volunteering and a number of side projects. Everything from training students in multimedia and design skills, through to Give Cat - a bookmarklet that replaces all the images on a website with pictures of cats (what more could you want, right?).
                    hr
                    - if (roles.length)
                        - role = roles[0]
                        h3 Currently
                        +roleMedia(role, false, false)

                        h5 Previously
                        each role, i in roles
                            - role = roles[i]
                            - if(i !== 0 && !role.duplicate )
                                a.pad(href='/about#experience'+i)
                                    img.company-avatar.extra-small.rounded-image(src=baseUrl + 'assets/images/employment/' + role.company.twitter + '.jpg', alt=role.title + ' at ' + role.company.name)

                        hr
                    - if (certifications.length)
                        h5 Certifications
                        each certification, i in certifications
                            a.pad(href='/about#certification' + i)
                                img.company-avatar.rounded-image(src=baseUrl + 'assets/images/certifications/' + certification.image, alt=certification.title)
                        hr

                    .controls
                        a.control(role='button', href=baseUrl + 'about')
                            span Read more about me
                        a.control(role='button', href=baseUrl + 'matthew-rayner-tech-lead-cv.pdf', target='_blank', download=true, rel='noopener') Get my CV
    section#skills.row-padding
        .row
            .large-10.large-offset-1.columns
                h2#skills-heading Skills
        .row
            .large-10.medium-offset-1.columns
                .row
                    .large-12.columns
                        .button-group.filter-button-group
                            button.button(data-filter='*') All
                            each type in types
                                button.button(data-filter='.'+type.slug)= type.title
                .row
                    .large-12.columns
                        .skills__content
                            section(aria-labelledby='skills-heading')
                                ul.skills(aria-labelledby='skills-heading')
                                    each skill in skills.major
                                      li(class=skill.types+' skill major')
                                        .title= skill.title

                                    each skill in skills.standard
                                      li(class=skill.types+' skill')
                                        .title= skill.title

                                .clearfix
                        hr
                        +aboutControls(baseUrl)

block append scripts
    script(src=baseUrl+'js/index.min.js', defer=true)
