extends ./layout/base

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/index.min.css')

block content
    section#home-slide.primary-background
        .background
            ul#scene
                li.layer.layer-1(data-depth="0.5")
                    .image
                li.layer.layer-2(data-depth="0.75")
                    .image
                li.layer.layer-3(data-depth="1.0")
                    .image
            .overlay
        .content
            h1.show-for-sr Matt Rayner | Full stack polyglot tech lead in London
            a(href=baseUrl)
                img(src=baseUrl+'assets/images/logo-full.svg', alt='Matt Rayner Logo')
            p Full-stack polyglot tech lead in London
        | <svg class="arrows"><path class="a1" d="M0 0 L30 32 L60 0"></path><path class="a2" d="M0 20 L30 52 L60 20"></path><path class="a3" d="M0 40 L30 72 L60 40"></path></svg>
    section#about-me.row-padding
        .row
            .large-10.large-offset-1.columns
                img.border-fade.rounded-image.about-me-image(src=baseUrl+'mattrayner.jpg',alt='Picture of Matt Rayner')
                .about-me__content
                    a#mainContent(name='mainContent')
                    h2 About Me
                    p I’m Matt Rayner, a talented and dedicated full stack, polyglot tech lead. I’m looking for a challenging environment to test and improve my skills. I love learning new things and am an early adopter of bleeding edge technologies. Outside of work I’m involved in volunteering and a number of side projects. Everything from training students in multimedia and design skills, through to #[a(href='http://give.cat/',target='_blank') Give Cat] - a bookmarklet that replaces all the images on a website with pictures of cats (what more could you want, right?).

                    a#about-me-expand-heading(role='button',aria-controls='about-me-expand',data-toggle='about-me-expand')
                        span Read more about me
                        i
                            span
                            span
                    #about-me-expand(data-toggler='.expanded',aria-labelledby='about-me-expand-heading')
                        p I’m a massive geek at heart, anything that goes ‘bleep bloop’, I’m all over it. In the past, I’ve acted as an IT Consultant for the Citizens Advice Bureau and the Head of IT for a community radio station. I’ve got a passion for products that make people’s lives easier; whether they take the stress out of a task or are accessible to everyone, that’s my sort of thing.
                        p In the past, I’ve been a graphic designer and a front end developer so I have extensive experience with both front end technologies and back end solutions (Wordpress CMS, MySQL, PHP, HAML, Responsive websites using Twitter Bootstrap, Javascript, JQuery, Ruby, CSS, iPhone, Android - all the usual suspects). I’ve also had exposure to web standards, ensuring the code I write is semantic and cross browser tested.
                        p At the age of 17 I wrote my first content management system in two weeks as part of a college project and my love of back end has grown from there. I’m interested in everything from speaking at events, to new job opportunities - get in touch and we’ll see what epic-ness ensues.
    section#skills.row-padding
        .row
            .large-10.large-offset-1.columns
                h2#skills-heading Skills
        .row
            .large-10.medium-offset-1.columns
                .row
                    .large-12.columns
                        .button-group.filter-button-group
                            button.button(data-filter='*') All
                            button.button(data-filter='.language') Language
                            button.button(data-filter='.framework') Framework
                            button.button(data-filter='.software') Software
                            button.button(data-filter='.knowledge') Skill
                .row
                    .large-12.columns
                        .skills__content
                            section(aria-labelledby='skills-heading')
                                ul.skills(aria-labelledby='skills-heading')
                                    li.skill.major.language
                                        .title ActionScript 2 & 3
                                    li.skill.major.language
                                        .title C# (Unity)
                                    li.skill.major.language
                                        .title CSS3
                                    li.skill.major.language
                                        .title HTML5
                                    li.skill.major.language
                                        .title Java (Android)
                                    li.skill.major.language
                                        .title JavaScript
                                    li.skill.major.language
                                        .title JQuery
                                    li.skill.major.language
                                        .title MySQL
                                    li.skill.major.language.skill
                                        .title *NIX Bash
                                    li.skill.major.language
                                        .title Objective-C (iOS)
                                    li.skill.major.language
                                        .title PHP
                                    li.skill.major.language
                                        .title Ruby
                                    li.skill.major.framework
                                        .title Rails
                                    li.skill.major.language
                                        .title Swift (iOS)
                                    li.skill.major.framework
                                        .title Vuforia
                                    li.skill.knowledge
                                        .title Agile Methodologies
                                    li.skill.language
                                        .title CoffeeScript
                                    li.skill.framework
                                        .title Cordova
                                    li.skill.language
                                        .title ERB
                                    li.skill.language
                                        .title HAML
                                    li.skill.software
                                        .title Illustrator
                                    li.skill.software
                                        .title InDesign
                                    li.skill.framework
                                        .title Node
                                    li.skill.software
                                        .title Photoshop
                                    li.skill.language
                                        .title RSpec
                                    li.skill.language
                                        .title Sass

                                .clearfix
    section#case-studies.row-padding
        .row
            .large-10.large-offset-1.columns
                h2 Case Studies
                p Coming soon!
        .row
            .large-4.medium-6.small-12.columns
                //img(src='https://placehold.it/500x200')
            .large-4.medium-6.small-12.columns

            .large-4.medium-6.small-12.columns

            .medium-6.small-12.columns.show-for-medium-only

block append scripts
    script(src=baseUrl+'js/index.min.js', defer=true)