block variables
doctype html
html(lang="en")
  head
    // Browser conditioning
    meta(http-equiv='x-ua-compatible',content='ie=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')

    // Google Site Varification
    meta(name='google-site-verification',content='hcPvgtiZY5_duFesXU2nigbj7lIE6xwgWqbUAbJiXwg')

    // Title
    - title = title || 'Matt Rayner | Full stack polyglot tech lead in London'
    title #{title}

    // SEO
    meta(charset='utf-8')
    link(rel='canonical',href=baseUrl)

    - keywords = keywords || 'matt,rayner,ruby,tech,lead,php,cordova,ios,android,vuforia'
    meta(name='keywords', content=keywords)
    - description = description || 'I\'m Matt Rayner, a polyglot, full stack tech lead based in south east London, UK. I\'ve got 10+ years commercial experience in mobile and web development with an addiction to learning new things'
    meta(name='description', content=description)

    // OG tags
    meta(property='og:url', content=baseUrl)
    - socialTitle = socialTitle || title
    meta(property='og:title', content=socialTitle)
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Matt Rayner')
    - socialDescription = socialDescription || description
    meta(property='og:description', content=socialDescription)
    - facebookImage = facebookImage || baseUrl+'assets/images/social/facebook.jpg'
    meta(property='og:image', content=facebookImage)

    // Twitter tags
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@mattrayner')
    meta(name='twitter:title', content=socialTitle)
    meta(name='twitter:description', content=socialDescription)
    - twitterImage = twitterImage || baseUrl+'assets/images/social/twitter.jpg'
    meta(name='twitter:image', content=twitterImage)

    // Favicon
    link(rel='shortcut icon',href=baseUrl+'assets/images/favicon/favicon.ico',type='image/x-icon')
    link(rel='icon',sizes='180x180',href=baseUrl+'assets/images/favicon/favicon-180x180.png')
    link(rel='apple-touch-icon-precomposed',href=baseUrl+'assets/images/favicon/favicon-180x180.png')
    meta(name='msapplication-TileImage',content=baseUrl+'assets/images/favicon/favicon-transparent-144x144.png')
    meta(name='msapplication-TileColor',content='#e5007d')

    // JSON-LD
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Crayford",
          "addressRegion": "London",
          "postalCode": "DA1"
        },
        "email": "mailto:hello@rayner.io",
        "image": "https://matt.rayner.io/mattrayner.jpg",
        "jobTitle": "Tech Lead",
        "name": "Matthew Rayner",
        "alumniOf": "University of Kent",
        "birthPlace": "Chatham, Kent",
        "birthDate": "1991.07.31",
        "height": "71 inches",
        "gender": "male",
        "nationality": "United Kingdom",
        "url": "https://matt.rayner.io",
          "sameAs" : [ "https://www.facebook.com/matthewrayner",
          "https://uk.linkedin.com/in/mattrayner",
          "http://twitter.com/mattrayner",
          "http://instagram.com/mattrayner",
          "https://plus.google.com/104559413596977954510"]
      }

    // Styles
    block stylesheets
      link(rel='stylesheet', href=baseUrl+'css/base.min.css')
  body
    p.margin-bottom--none
      a.show-on-focus(href="#mainContent") Skip to Content
    header
      nav(role='navigation')
        a.toggle-menu(href='#menu', aria-label='Launch navigation menu', aria-haspopup='true', aria-controls='menu')
          | <svg id='svg-menu-image' role='img' alt='Launch navigation menu'><g id='frame-1'><rect y='3.124' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-2' display='none'><rect y='4.374' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-3' display='none'><rect y='2.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-4' display='none'><rect y='0.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-5' display='none'><rect y='2.499' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-6' display='none'><rect y='5.374' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-7' display='none'><rect y='8.124' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-8' display='none'><rect y='10.124' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='17.249' display='inline' fill='#020202' width='43.75' height='4.625'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-9' display='none'><polygon display='inline' fill='#020202' points='0,14.124 0,17.249 0,18.749 0,21.874 43.75,21.874 43.75,18.749 43.75,17.249 43.75,14.124 	'/><rect y='31.124' display='inline' fill='#020202' width='43.75' height='4.625'/></g><g id='frame-10' display='none'><rect x='0.937' y='17.249' transform='matrix(0.9964 0.0851 -0.0851 0.9964 1.7445 -1.791)' display='inline' fill='#020202' width='41.875' height='4.625'/><rect x='0.938' y='29.499' transform='matrix(-0.9964 0.0851 -0.0851 -0.9964 46.3795 61.6465)' display='inline' fill='#020202' width='41.875' height='4.625'/></g><polygon id='frame-11' display='none' fill='#020202' points='42.317,21.666 2.433,12.609 1.433,17.125 33.638,24.438 1.433,31.75 2.435,36.265 42.317,27.208 41.703,24.435 '/><polygon id='frame-12' display='none' fill='#020202' points='41.244,23.346 40.765,23.187 39.529,19.169 34.111,20.972 4.221,11.024 2.861,15.444 26.791,23.408 2.506,31.49 3.869,35.909 34.112,25.845 39.881,27.765 '/><polygon id='frame-13' display='none' fill='#020202' points='39.993,19.566 38.056,15.367 28.391,20.157 5.694,8.908 3.757,13.107 23.186,22.737 4.048,32.223 5.987,36.421 28.391,25.317 37.763,29.962 39.702,25.764 33.596,22.737 '/><polygon id='frame-14' display='none' fill='#020202' points='38.164,26.99 29.722,21.728 38.163,16.466 35.824,12.476 25.351,19.004 7.926,8.143 5.587,12.133 20.98,21.728 5.586,31.323 7.926,35.312 25.352,24.452 35.824,30.979 '/><polygon id='frame-15' display='none' fill='#020202' points='36.129,13.359 33.317,9.625 23.358,17.74 10.433,7.208 7.621,10.942 19.679,20.737 7.746,30.461 10.567,34.125 23.362,23.73 33.183,31.708 36.004,28.044 27.042,20.741 '/><polygon id='frame-16' display='none' fill='#020202' points='34.796,10.826 31.608,7.408 22.162,16.936 12.135,6.866 8.954,10.292 18.888,20.237 9.411,29.797 12.602,33.144 22.17,23.522 31.198,32.56 34.381,29.207 25.444,20.231 '/></svg>
        ul#menu.overlay-menu(aria-label='navigation')
          li
            a(href=baseUrl) Home
            a(href=baseUrl+'download/') Download CV


    block content

    block footer
      #footer
        .row
          .large-10.large-offset-1.columns
            .row
              .large-4.columns
                a(href=baseUrl)
                  img(src=baseUrl + 'assets/images/logo-full.svg', alt='Matt Rayner')
              .large-4.columns

              .large-4.columns
        .row
          .large-12.columns.text-center
            p
              small &copy; 2016 #[a(href=baseUrl) Matt Rayner]

    // Scripts
    block scripts
      script(src=baseUrl+'js/plugins.min.js')
      script(src=baseUrl+'js/base.min.js')
      script(type='text/javascript').
        $(document).ready(function() {
          $(document).foundation();
        });
      if isLive
        script(type='text/javascript').
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-41447951-2', 'auto');
          ga('send', 'pageview');