extends ./base

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/content.min.css')

block content
    a#bd-logo(href=baseUrl)
        <svg version="1" xmlns="http://www.w3.org/2000/svg" width="78" height="78" viewBox="267.909 137.956 78 78"><g fill="#FFCA1B"><path d="M303.143 164.602l-2.897.495c-1.45 3.15-2.132 4.97-2.048 5.461 3.922-2.153 7.2-4.204 9.832-6.153-.07-.414-1.699-.348-4.887.197zM330.711 162.139l-4.431 18.384c10.367-7.182 15.15-13.119 14.35-17.808-.527-3.082-3.308-4.585-8.344-4.514-.981.169-1.506 1.481-1.575 3.938zM293.089 183.166l-2.595 6.004.035.206c6.677-3.57 11.318-6.783 13.921-9.642l-3.931.671c-5.119.875-7.595 1.795-7.43 2.761z"/><path d="M335.302 198.527l-.756 1.298v3.723l-1.174.235v-9.523l1.174-.234v4.1l2.456-4.592 1.309-.264-2.24 4.037 1.517 3.714a38.822 38.822 0 0 0 8.321-24.064c0-1.455-.086-2.888-.241-4.302a104.084 104.084 0 0 1-3.803 5.608c-3.592 3.722-7.298 6.814-11.119 9.282-4.485 2.186-7.212 3.811-8.182 4.876l-2.22.166c-2.264 1.617-3.686 2.476-4.269 2.575l-.242-.172.429-1.092-.185.032-1.129.596-.41-1.161.257-.848-.184.031-.922.56-.242-.171-.032-.185.105-.633-.207.036-.769.344c-.399.068-.644-.166-.735-.702-.675.02-1.039-.123-1.091-.429.475-.729 1.25-1.405 2.326-2.031 1.972-2.118 4.154-8.092 6.546-17.917 1.449-5.912 2.112-9.234 1.987-9.971-2.407.412-4.533-.858-6.378-3.808-.191-1.119 4.896-2.878 15.259-5.28l1.012-.173a25.065 25.065 0 0 1 5.271-.341c-7.154-8.492-17.861-13.893-29.834-13.893-21.539 0-39 17.462-39 39 0 21.539 17.461 38.999 39 38.999 11.93 0 22.602-5.361 29.755-13.8l-1.36-3.626zm-53.436 3.853l-.266-.168.195-.246-.106-.62c-.704.119-1.08.042-1.128-.233l-.349-.793 1.951-1.186-.036-.206-.206.035-2.642.878-.071-.414c.942-.303 1.39-.593 1.343-.868l-.207.035-1.172.627-.241-.173-.207.035-1.207.419-.206.036-.036-.208.309-.691-.036-.206-.206.034-.999.385-.243-.172-.034-.207c1.11-1.342 2.119-2.09 3.023-2.244l-.768-1.998c.678-3.05 4.198-11.617 10.562-25.703-2.605.445-4.455.051-5.549-1.182-.562-.061-1.28-.941-2.153-2.637-.286-1.67 2.648-3.236 8.804-4.698l7.193-1.655 2.483-.424c7.708-1.318 13.068.046 16.078 4.09.837.741 1.335 1.579 1.495 2.513l.034.207c.396 2.315-2.371 5.279-8.299 8.895l.034.207c3.491 2.149 5.351 3.889 5.578 5.223l.213 1.242c.573 3.356-9.014 10.12-28.76 20.293l-4.168 1.778zm22.408 7.232l-1.673.335-1.861-7.883.161 8.225-1.161.231v-9.537l1.62-.324 1.93 7.964-.163-8.317 1.147-.229v9.535zm16.324-3.269l-1.565.313-1.038-7.684-1.094 8.111-1.565.312-1.39-8.18-1.59.319v8.457l-1.175.235v-8.457l-1.619.324-2.994.601v2.833l2.63-.528v1.08l-2.63.526v3.48l3.103-.621v1.065l-4.291.859v-9.523l3.993-.8 4.397-.881v-.001l1.174-.234 1.174 8.114 1.12-8.574 1.524-.306 1.093 8.132 1.188-8.589 1.161-.231-1.606 9.848zm6.38-6.176c0 .742-.039 1.844-.08 2.566-.067 1.214-.364 2.555-2.334 2.949-.352.07-.837.142-1.282-.013-.675-.229-.851-.854-.917-1.232-.108-.625-.095-2.018-.095-2.867 0-.608.026-2.61.067-3.13.04-.493.229-2.164 2.388-2.597 1.983-.397 2.146 1.054 2.2 1.556.081.794.053 2.512.053 2.768zm4.804 3.935l-1.62-3.844-.984.197v4.168l-1.174.236v-9.524l2.078-.417c1.255-.251 2.523-.302 2.523 2.085 0 .716-.095 1.328-.23 1.706-.27.836-.809 1.065-1.052 1.182l1.714 3.96-1.255.251z"/><path d="M330.945 196.001c-.283-.119-.54-.067-1.767.179v3.331c1.335-.268 1.524-.306 1.78-.531.459-.402.459-1.131.459-1.603.001-.58-.013-1.185-.472-1.376zM325.752 198.174c-.014-.591-.027-1.532-1.093-1.318-1.081.216-1.12 1.264-1.147 1.754-.026.478-.026.626-.026 2.919 0 .647 0 .661.013 1.265.026.912-.135 2.146 1.12 1.895 1.012-.203 1.053-1.102 1.093-1.729.055-.808.082-1.784.068-2.551-.015-.74-.015-1.496-.028-2.235z"/></g></svg>
    main#mainContent.page-content
        block page-content

    if navLeftHeader

        // Work navigation [previous / next] case studies
        .full-width-row#work-navigation
            // Navigation left [previous]
            a(href=navLeftLink)
                .half-width-nav-row.attach-to-left
                    .full-width-overlay.overlay--dark
                    .full-width-overlay.color--white(class='hover-bg-'+navLeftColour)
                        .row.no-lr-margin
                            .small-12
                                h4.work-nav-header.nav-left-header= navLeftHeader
                        .row.no-lr-margin.margin--top
                            .large-6.columns
                                .navigation-arrow.left-arrow
                            .large-6.text-right.padding--right--25.columns
                                div CLIENT
                                div.client-name= navLeftClient
            // Navigation right [next]
            a(href=navRightLink)
                .half-width-nav-row.attach-to-right
                    .full-width-overlay.overlay--dark
                    .full-width-overlay.color--white(class='hover-bg-'+navRightColour)
                        .row.no-lr-margin
                            .small-12
                                h4.work-nav-header.nav-right-header= navRightHeader
                        .row.no-lr-margin.margin--top
                            .large-6.columns.padding--left--25
                                div CLIENT
                                div.client-name= navRightClient
                            .large-6.text-right.columns
                                .navigation-arrow.right-arrow

block append scripts
    script(src=baseUrl+'js/content.min.js')
